<form [hidden]="!showAddForm" (ngSubmit)="addFeed()">
    <label for="url">URL:</label><input [(ngModel)]="url" type="text" id="url" name="url" required>
    <input type="submit" value="Save">
    <span style="color: red"> {{ error }}</span>
    <span style="color: green"> {{ message }}</span>
</form>
<button class="btn" (click)="showAddForm=true">New Feed</button>

<h3>User feeds:</h3>
<button (click)="refreshTimeline()" *ngIf="nextTimeline && differentTimelines()">Refresh Timeline</button>
<ul>
    <li *ngFor="let article of timeline; let j = index">
        <strong>
            <a target="_blank" href="{{ article.url }}">{{ article.title }}</a>
        </strong>: {{ article.summary }}
        {{ article.pubdate }}
    </li>

</ul>
