<mainmenu (onShowNewFeedForm)="onShowNewFeedForm($event)"></mainmenu>
<form [hidden]="!showAddFeedForm" (ngSubmit)="addFeed()">
    <label for="url">URL:</label><input [(ngModel)]="url" type="text" id="url" name="url" required>
    <input type="submit" value="Save">
    <span style="color: red"> {{ error }}</span>
    <span style="color: green"> {{ message }}</span>
</form>
<form [hidden]="!showAddAlertForm" (ngSubmit)="addAlert()">
    <label for="url">URL:</label><input [(ngModel)]="alert" type="text" id="alert" name="alert" required>
    <input type="submit" value="Save">
    <span style="color: red"> {{ error }}</span>
    <span style="color: green"> {{ message }}</span>
</form>
<p [hidden]="!loading">Loading...</p>
<div class="timeline">
    <p class="important-message" *ngIf="nextTimeline && differentTimelines()">You have <span class="link-like" (click)="refreshTimeline()">new articles!</span></p>
    <div *ngFor="let article of timeline; let j = index">
        <articleview [article]="article"></articleview>
    </div>
</div>
