<div class="user-page">
    <div class="user-form">
        <form (ngSubmit)="login()">
            <h2>Login</h2>
            <span style="color: red">{{ error }}</span><br>
            <label for="email">Email </label><input [(ngModel)]="model.email" name="email" type="text" id="email"/>
            <br>
            <label for="password">Password </label><input [(ngModel)]="model.password" name="password" type="password" id="password"/>
            <br>
            <button class="form-button">Login</button>
        </form>
    </div>
</div>
