<div class="user-info">
    <span>Logged in as: {{ username }} | <a href="#" (click)="logout()">Logout</a></span>
</div>
<div class="menu-bar">
    <header></header>
    <span class="link-like-menu" (click)="showNewFeedForm()">Add Feed</span> /
    <span class="link-like-menu" (click)="toggleManage()">Manage Feeds</span> /
    <span class="link-like-menu" (click)="toggleSearchForm()">Search</span>
    <form *ngIf="showSearch" class="search-form" (ngSubmit)="search()">
        <input [(ngModel)]="searchTerms" name="terms" type="text" placeholder="Search..."/><button class="form-button-small">Search</button>
    </form>
</div>
