@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    font-family: 'Roboto Slab', serif;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.btn {
    color: orange;
}

.menu-bar {
    margin: auto;
    text-align: center;
    font-size: x-large;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;

}

.appname {
    font-size: 3em;
}

.article-title {
    font-size: large;
}

.user-info {
    position: absolute;
    right: 1%;
    top: 0;
}

.timeline {
    margin: auto;
    margin-top: 1%;
    max-width: 60%;
}

.link-like, a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.link-like-menu {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: #ab00b3;
}

.important-message {
    font-size: large;
    text-align: center;
}

.search-form {
    text-align: center;
}
