<div class="home-page">
    <div class="home-content">
        <div class="home-page-header-bar">
            <header></header>
        </div>
        <div class="home-body">
            <div class="home-body-text1">
                <span>
                    Your news. Your way.
                </span>
            </div>
            <div class="home-body-text2">
                <span>
                    <strong>Livefeed</strong> fetches the news for you from sources you select and trust. <br>
                </span>
            </div>
            <div class="home-buttons">
                <button (click)="register()" class="home-button home-register">Join now for free</button>
                <button (click)="login()" class="home-button home-login">I already have an account</button>
            </div>
        </div>
    </div>
</div>
