<div class="user-page">
    <div class="user-form">
        <form (ngSubmit)="register()">
            <h2>Create Account</h2>
            <span *ngIf="error" style="color: red">{{ error }}</span>
            <span *ngIf="success" style="color: green">You have registered! Please <a href="/login">login</a> to continue.</span>
            <br>
            <label for="email">Email</label>
            <br>
            <input [(ngModel)]="model.email" name="email" type="text" id="email"/>
            <br>
            <label for="password">Password</label>
            <br>
            <input [(ngModel)]="model.password" name="password" type="password" id="password"/>
            <br>
            <label for="password2">Confirm Password</label>
            <br>
            <input [(ngModel)]="model.password2" name="password2" type="password" id="password2"/>
            <br>
            <button class="form-button">Register</button><br>
        </form>
    </div>
</div>
